.container_services {

    background: color(secondary);
    padding:0 2em;
    text-align: center;
    

    h2{
        margin:0;
        padding:1.5em 0 0.8em;
        font-size: 20px;
        font-weight: normal;
        text-transform: uppercase;
        color: gray;
    }
    h1 {
        margin:0;
        padding:0 0 1em;
        font-size: 42px;
        color: color(primary);
    }

    .service_list{
        margin:0;
        padding:0;
        text-align: left;
        color: color(primary);
    }

    .services_item {
        font-size:20px;
        display:flex;
        justify-content: center;
        img{
            width:80px;
            height: 80px;
        }
        section{

            padding: 0em 1em;

            h3{
                margin:0;
            }

            p {
                margin:1em 0;
                width: 300px;
            }
        }
    }

    
}


@media (min-width: 768px) {

    .container_services {
        
        padding: 0;

        h2{
            font-size: 15px;
        }
        h1 {
            font-size: 35px;
            br {
                display:none;
            }
        }

        .service_list{
        
    
            padding:0;
            display:flex;
            justify-content: center;
            flex-flow: row wrap;
        }

        .service_list::before, .service_list::after {
            content: '';
            width: 100%;
            order: 1;
        }

        .services_item:nth-child(n + 3) {
            order: 1;
        }
        .services_item:nth-child(n + 6) {
            order: 2;
        }

        .services_item {
            padding-bottom: 1em;
            font-size:1em;
            display:flex;

            img{
                width:90px;
                height: 90px;
            }
            section{

                p {
                    width:250px;
                }
            }
        }
    }

}


@media (min-width: 1500px) {


    .container_services{

        h1{
            font-size: 50px;
        }
        
        .service_list{
            justify-content: space-between;
            margin: 0 20%;
            padding-bottom: 2em;
        }

    }

}